.metadata
/.metadata/.lock
/APIClients/c_plusplus_client/SocialGameAPI/SocialGameAPI.sdf
/APIClients/c_plusplus_client/SocialGameAPI/Debug
/APIClients/c_plusplus_client/SocialGameAPI/GeneratedFiles
/APIClients/c_plusplus_client/SocialGameAPI/Resources
/APIClients/c_plusplus_client_GUI.exe
/APIClients/c_plusplus_client_GUI.ilk
/APIClients/c_plusplus_client_GUI.pdb
/APIClients/c_plusplus_client.opensdf
/APIClients/c_plusplus_client.sdf
/APIClients/c_plusplus_client.sln
/APIClients/c_plusplus_client.suo
SocomAPI/bin
SocomAPI/logs
SocomAPI/database/data
SocomWeb/.gwt
SocomWeb/gwt-unitCache
SocomWeb/war/database
SocomWeb/war/data
SocomWeb/war/WEB-INF/classes
SocomWeb/war/WEB-INF/deploy
SocomWeb/.gwt
SocomWeb/.gwt/.gwt-log
SocomWeb/bin
SocomAPI/war
SocomTests/bin
SocomWebGraph/bin
SocomWebGraph/war
SocomTests/bin
SocomClientGUI/bin
.project
.classpath
.gwt
.settings
